@media screen and (max-width: 1600px){
    .sidebar{
        /*height: auto;*/
    }
    ul#sidebar-navigation{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 1400px){
    h2{
        font-size: 25px!important;
    }
    .ava{
        padding-right: 0!important;
    }
    .avatar{
        background-position: -55px -50px;
        height: 75px;
        width: 75px;
    }
    .avatar-text{
        height: auto;
        margin-left: 15px;
    }
    .name{
        margin-top: 12.5px;
        font-size: 12pt;
    }
    .logout{
        font-size: 11pt;
    }
    .add-col{
        padding-right: 0!important;
    }
    .sidebar-content label.label-nav{
        margin-bottom: 0;
    }
    ul#content-menu li{
        margin: 0 2% 0 2%;
        width: auto!important;
    }
    .back{
        margin: 0!important;
        width: auto!important;
    }
    /*2-company.html*/
    .content-main .label-value, .content-main .label-name{
        font-size: 9pt;
    }
    /*8-product.html*/
    .column{
        column-gap: 30px;
        -moz-column-gap: 30px;
        -webkit-column-gap: 30px;
    }
    .item{
        line-height: 2;
    }
    .item-name{
        display: inline;
        font-size: 9pt;
        width: 120px;
    }
    .item-value{
        display: inline-block;
        font-size: 9pt;
    }
}
@media screen and (max-width: 1200px){
    .avatar{
        float: none;
    }
    .avatar-text{
        margin-left: 0;
    }
    table.table tr{
        font-size: 11pt;
    }
    .add-col{
        display: block;
    }
    /*15-applications*/
    .table-applications>thead>tr>th{
        font-size: 11pt;
    }
    .table-applications>tbody>tr>td{
        font-size: 14pt;
    }
    .table-applications>tbody>tr>td p{
        font-size: 12px;
    }
    .table-applications>tbody>tr>td:nth-of-type(2){
        font-size: 12pt;
    }
    .table-applications>tbody>tr>td:nth-of-type(3){
        font-size: 12pt;
    }
    #myModal .modal-dialog{
        width: 100%;
    }
    #myModal .modal-content{
        left: 0;
        width: auto;
    }
    .back{
        display: none;
        right: 0;
    }
    /*17-influencers*/
    .influencer-select #date{
        font-size: 11pt;
    }
    p.label-value span img{
        margin-right: 2%;
    }
}
@media screen and (max-width: 1000px){
    .sidebar-content label.label-nav{
        font-size: 11pt!important;
        margin-left: 20px;
    }
    ul#sidebar-navigation li a{
        font-size: 11pt;
        padding-left: 20px;
    }
    .sidebar-head img{
        width: 80%;
    }
    .form-control{
        font-size: 10px!important;
    }
    ul#content-menu li a{
        font-size: 9pt;
    }
    /*5-earnings.html*/
    ul.tabs{
        right: 0;
    }
    ul.tabs li{
        margin: 0 10px 0 0!important;
        padding: 0!important;
    }
}
@media screen and (max-width: 870px){
    table.table tr{
        font-size: 9pt;
    }
    .add-col{
        display: flex;
        font-size: 9pt;
    }
    .ava{
        padding: 20px 10px 0px 20px!important;
    }
}
@media screen and (max-width: 799px){
    .cancel-button,.create-button{
        padding: 10px 50px;
    }
}
@media screen and (max-width: 768px){
    .sidebar{
        display: none;
    }
}
@media screen and (max-width: 700px){
    .content .content-title h2{
        padding: 0;
    }
    .input-group{
        width: 100%;
    }
    .input-group-btn, .form-control.search.search-bg{
        display: none!important;
    }
    .content label.label-check:before{
        bottom: -10px;
    }
    .table>thead>tr>th{
        border: none!important;
    }
    ul#content-menu{
        height: 25px;
    }
    .focus{
        height: 25px;
    }
}
@media screen and (max-width: 650px){
    table.table tr{
        font-size: 6pt;
    }
}
@media screen and (max-width: 600px){
    table.table tr{
        font-size: 4pt;
    }
    .pagination span{
        margin: 0 20px;
        font-size: 9pt;
    }
    .pagination .glyphicon.glyphicon-menu-right, .pagination .glyphicon.glyphicon-menu-left{
        font-size: 11px;
    }
    .content-main .label-value, .content-main .label-name{
        font-size: 7pt;
    }
}
@media screen and (max-width: 550px){
    ul#content-menu li a{
        font-size: 7px;
    }
}
@media screen and (max-width: 500px){
    .content label.label-check:before{
        bottom: -12px;
    }
    .content-main .label-value, .content-main .label-name{
        font-size: 5pt;
    }
    .content .content-title h2{
        font-size: 15px!important;
    }
    .add-col{
        font-size: 5pt;
    }
}
@media screen and (max-width: 450px){
    .content .content-title h2{
        font-size: 12px!important;
    }
    .content-main .label-value, .content-main .label-name{
        padding: 0;
    }

}