@font-face {
    font-family: 'SF Compact Text Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Text Heavy'), url('fonts/sfcompacttext/sf-compact-text-heavy-58646f645b774.woff') format('woff');
}
@font-face {
    font-family: 'SF Compact Text Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Text Regular Italic'), url('fonts/sfcompacttext/sf-compact-text-italic-58646f7cbab10.woff') format('woff');
}
html, body{
    height: 100%;
}
body{
    font-family: font92721; /*SF Compact Text Regular*/
    font-family: font92709; /*SF Compact Text Light*/
    font-family: font92713; /*SF Compact Text Bold*/
    font-family: font92728; /*SF Compact Text Medium*/
}
hr{
    border-color: #D1DDE2!important;
    margin-top: 40px!important;
    margin-bottom: 50px!important;
    width: 100%;
}
h2{
    margin: 0!important;
}
/*******************1.html******************/
/*sidebar*/
.active{
    background-color: #3277E3;
}
.active a{
    color: #ffffff!important;
}
.ava{
    padding: 30px!important;
}
.avatar, .avatar-text{
    float: left;
}
.avatar{
    background: url("img/avatar.jpg");
    background-position: -20px -60px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.avatar-text{
    height: 100px;
    margin-left: 30px;
}
.back{
    position: absolute;
    right: 25px;
    width: 200px!important;
}
.back a{
    color: #3772F2!important;
}
/*.color-text{*/
    /*background-color: #e7c3c3;*/
/*}*/
.name{
    color: #6C7A86;
    font-family: font92709;
    font-size: 15pt;
    margin-top: 20px;
}
.logout{
    font-family: font92709;
    font-size: 14pt;
}
.wrapper-page, .row, .all-page, .sidebar{
    height: 100%;
}
.main{
    height:100%;
    overflow: auto;
}
.wrapper-page, .row, .all-page{
    overflow: auto;
}
.all-page{
    padding-left: 0!important;
    padding-right: 0!important;
}
.sidebar{
    background-color: #F5F9FC;
    border-right: 1px solid #D1DDE2;
    padding-left: 0!important;
    padding-right: 0!important;
}
.main{
    padding-right: 0!important;
}
.sidebar-head{
    background-color: #E20613;
    color: #ffffff;
    height: 60px;
    line-height: 60px;
}
.sidebar-content{
    background-color: #F5F9FC;
}
.sidebar-content label.label-nav{
    color: #6C7A86;
    font-size: 15pt;
    font-family: font92713;
    margin-left: 30px;
    margin-bottom: 50px;
}
.sidebar-content p.settings{
    color: #6C7A86;
    font-family: font92709;
    font-size: 15pt;
    font-weight: 700;
    margin-left: 30px;
    margin-bottom: 0;
    padding-bottom: 10px;
}
ul#sidebar-navigation{
    list-style: none;
    padding-left: 0;
}
ul#sidebar-navigation li{
    padding: 10px 0;
    width: 100%;
}
ul#sidebar-navigation li a{
    color: #6C7A86;
    font-family: font92709;
    font-size: 15pt;
    font-weight: 700;
    display: block;
    padding-left: 30px;
    text-decoration: none;
}

/*content*/
.main{
    padding-left: 0!important;
}
.header{
    background-color: #535660;
    color: #ffffff;
    font-family: font92713;
    font-size: 18pt;
    height: 60px;
    line-height: 60px;
    position: relative;
}
.main .menu-icon{
    position: absolute;
    top: 20px;
    left: 25px;
}
table.table tr td a{
    color: #3277E3;
}
table.table tr{
    font-size: 14pt;
    font-family: font92721;
}
.content{
    padding-top: 25px;
}
.content .content-title, .content .content-search{
    padding: 0!important;
}
.content .content-title h2{
    padding-bottom: 25px;
    padding-left: 30px;
    padding-top: 25px;
}
.content .content-search .form-control.search{
    width: 50%;
}
.content .content-search .search-bg{
    background-color: #F5F9FC;
}
.content .content-search .form-control.search.search-bg{
    border: none;
    box-shadow: none;
}
.content .glyphicon.glyphicon-search{
    color: #A9A8AE;
}
.add-col{
    display: flex;
    align-items: center;
    height: 34px;
    justify-content: space-around;
}
.add-col a{
    color: #6C7A86;
    font-family: font92721;
}
/*---checkbox---*/
.content label.label-check {
    display: inline-block;
    cursor: pointer;
    padding-right: 10px;
    position: relative;
}
.content label.label-check:before {
    border: 1px solid #eeeeee;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #ffffff;
    /*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
}

.content input[type=checkbox].input-check {
    display: none;
}
.content .checkbox label.label-check:before {
    border-radius: 3px;
}
.content input[type=checkbox].input-check:checked + label.label-check:before {
    content: "\2713";
    font-size: 15px;
    color: limegreen;
    text-align: center;
    line-height: 15px;
}
/*---/ checkbox---*/
.pagination span{
    color: #000;
    font-family: font92721;
    margin: 0 50px;
}
.pagination .glyphicon.glyphicon-menu-right, .pagination .glyphicon.glyphicon-menu-left{
    color: #A9A8AE;
}

/*---content-menu---*/
    .menu{
        /*display: none;*/
        padding: 0!important;
    }
    ul#content-menu{
        /*display: none;*/
        padding: 0!important;
    }
    ul#content-menu{
        border-bottom: 2px solid #eeeeee;
        height: 50px;
        list-style: none;
    }
    ul#content-menu li{
        float: left;
        text-align: center;
        width: 120px;
    }
    ul#content-menu .content-menu-a{
        color: #6C7A86;
        display: block;
        font-family: font92721;
    }
    .focus{
        color: #3277E3!important;
        border-bottom: 4px solid #3277E3;
        height: 50px;
        text-decoration: none;
    }
/*---/ content-menu---*/
/*2-company.html*/
    .content-main .label-name{
        color: #6C7A86;
        font-family: font92721;
        font-size: 15pt;
    }
    .content-main .label-value{
        color: #000;
        font-family: font92728;
        font-size: 15pt;
    }
    .content-main .label-value a{
        color: #3277E3;
    }
/*5-earnings.html*/
    .select-date, .graphic{
        padding-bottom: 50px;
    }
    .select-date #date{
        background: #F5F9FC;
        border: none;
        font-size: 14pt;
        font-family: font92728;
        padding: 10px 15px;
        width: 300px;
    }
    .earnings-table{
        background-color: #F5F9FC;
    }
/*8-product.html*/
    .column{
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-gap: 150px;
        -moz-column-gap: 150px;
        -webkit-column-gap: 150px;
        font-weight: 700;
    }
    .item{
        line-height: 3;
    }
    .item-name{
        display: block;
        float: left;
        font-family: font92728;
        width: 200px;
    }
    .item-value{
        font-family: font92721;
    }
    .buttons{
        padding-bottom: 50px;
    }
    .create-button, .cancel-button{
        color: #ffffff;
        padding: 10px 100px;
    }
    .create-button{
        background-color: #2ABD17;
        margin-left: 75px;
    }
    .cancel-button{
        background-color: #6C7A86;
    }
/*drag and drop*/
    .dropzone{
        border: none!important;
        /*min-height: 300px!important;*/
    }
    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark{
        /*top: 25%!important;*/
    }
    .dz-default {
        background: url("img/dd.png") no-repeat center center;
        border: 1px dashed #5D8DF4;
        margin: auto!important;
        position: relative;
        width: 50px;
        height: 50px;
    }
    .dz-default:after{
        content: "Drag and drop photo file here";
        display: table;
        color: #5D8DF4;
        font-size: 10pt;
        font-family: font92721;
        top: 55px;
        left: -23px;
        position: absolute;
        width: 100px;
    }
/*13-request.html*/
    .before-column{
        font-family: font92728;
        font-weight: 700;
    }
/*15-applications.html*/
    .table-applications>thead>tr>th{
        font-size: 15pt;
        font-family: font92728;
    }
    .table-applications>tbody>tr>td{
        font-size: 18pt;
        font-family: font92728;
    }
    .table-applications>tbody>tr>td p{
        font-size: 15pt;
    }
    .table-applications>tbody>tr>td:nth-of-type(1){
        width: 60%;
    }
    .table-applications>tbody>tr>td:nth-of-type(2){
        font-size: 15pt;
        line-height: 70px;
    }
    .table-applications>tbody>tr>td:nth-of-type(3){
        color: #A9A8AE;
        font-size: 14pt;
        line-height: 70px;
    }
    tbody>tr>td span img{
        margin-right: 20px;
    }
    /*pop up*/
    #myModal .modal-content{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        left: -200px;
        top: 200px;
        width: 1000px;
    }
    #myModal .modal-header{
        font-size: 21pt;
        font-family: font92728;
        padding: 15px 20px;
    }
    .th-popup{
        color: #6C7A86;
        font-size: 15pt;
        font-family: font92721;
    }
    .td-popup{
        color: #000;
        font-size: 15pt;
        font-family: font92721;
    }
/*17-1-influencers.html*/
    /*.table-influencers>tbody>tr>td span img{*/
        /*margin-right: 20px;*/
    /*}*/
    .table-influencer{
        margin-bottom: 50px;
    }
    .table-influencer, .table-sales {
        color: #000;
        font-size: 15pt;
        font-family: font92728;
    }
    .influencer-select #date{
        background: #F5F9FC;
        border: none;
        font-size: 14pt;
        font-family: font92728;
        margin: 30px 0px 20px 0;
        padding: 10px 15px;
        width: 300px;
    }
    p.label-value span img{
        margin-right: 20px;
    }
    /*tabs*/
    section.wrapper{
        position: relative;
    }
    ul.tabs {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 10px;
        top: -85px;
    }
    ul.tabs li {
        float: left;
        margin: 0 50px 0 0;
        padding: .25em .5em;
    }
    ul.tabs li a {
        color: #6C7A86;
        font-family: font92721;
        text-decoration: none;
    }
    ul.tabs li.active {
        background: #ffffff;
    }
    ul.tabs li.active a {
        color: #3772F2!important;
    }
    .clr {
        clear: both;
    }
    article {
        /*border-top: gray solid 1px;*/
        padding: 0 1em;
    }
/*11-influencers-referrals.html*/
    p.gen_stats {
        color: #38DA25;
        position: absolute;
        left: 120px;
        top: 7px;
    }
/*settings.html*/
    .ava-settings{
        width: 100px!important;
        height: 100px!important;
    }
    .ava-settings img{
        width: 100px;
        height: 100%;
    }
    .import, .export{
        color: #3277E3;
        background: none;
        border: none;
        padding: 0;
    }
    .split{
        padding: 0 10px 0 10px;
    }
    .logotip{
        background: red;
        padding: 20px 60px;
    }