@font-face {
    font-family: 'SF Compact Text Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Text Heavy'), url('fonts/sfcompacttext/sf-compact-text-heavy-58646f645b774.woff') format('woff');
}
@font-face {
    font-family: 'SF Compact Text Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Text Regular Italic'), url('fonts/sfcompacttext/sf-compact-text-italic-58646f7cbab10.woff') format('woff');
}
html, body{
    height: 100%;
}
body{
    font-family: font92721; /*SF Compact Text Regular*/
    font-family: font92709; /*SF Compact Text Light*/
    font-family: font92713; /*SF Compact Text Bold*/
}
hr{
    margin-top: 40px!important;
    margin-bottom: 50px!important;
}
/*******************1.html******************/
/*sidebar*/
.all-page, .row, .wrapper-page, .sidebar, .sidebar-content{
    height: 100%;
}
.wrapper-page{
    padding-left: 0!important;
    padding-right: 0!important;
}
.sidebar{
    padding-left: 0!important;
    padding-right: 0!important;
}
.main{
    padding-right: 0!important;
}
.sidebar-head{
    background-color: #E20613;
    color: #ffffff;
    height: 60px;
    line-height: 60px;
}
.sidebar-content{
    background-color: #E6E7E8;
}
.sidebar-content label{
    background-color: #e7c3c3;
    color: #6C7A86;
    font-family: font92713;
    margin-left: 30px;
    margin-bottom: 50px;
}
.sidebar-content p{
    color: #6C7A86;
    font-family: font92709;
    font-weight: 700;
    margin-left: 30px;
}
ul#sidebar-navigation{
    list-style: none;
    padding-left: 0;
}
ul#sidebar-navigation li{
    padding: 10px 0;
    width: 100%;
}
ul#sidebar-navigation li a{
    color: #6C7A86;
    font-family: font92709;
    font-size: 15px;
    font-weight: 700;
    display: block;
    padding-left: 30px;
    text-decoration: none;
}
/*ul#sidebar-navigation li a:hover{*/
    /*background: #3277E3;*/
    /*color: #fff;*/
    /*display: block;*/
    /*height: 40px;*/
    /*line-height: 40px;*/
/*}*/
/*content*/
.main{
    padding-left: 0!important;
}
.header{
    background-color: #535660;
    color: #ffffff;
    height: 60px;
    line-height: 60px;
}